<tr>
    <td class="stakes-td">
      <span class="color-lighten">
        <%= @index %>
      </span>
    </td>
    <td class="stakes-td">
        <span data-test="address"> <%= @rewards.address_hash %></span>
    </td>
      <hr>
    <%# <td class="stakes-td color-lighten">
        <span data-test="block_hash"> <%= @rewards.block_hash %>
    <%# </td> %>
      <hr>
    <td class="stakes-td color-lighten">
      <span data-test="amount"> <%= balance(@rewards) %></span>
    </td>
</tr>
